html {
    font-family: 'Amita', cursive;
    background-color: #D2C8AF;
    color: #3C2726;
}

header {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
.hero {
    display: inline;
    position: fixed;
    width: 50%;
    height: 50%;
    z-index: -1;
    margin-right: 0;
    margin-bottom: 0;
}
body {
    margin: auto;
}

#function-area {
    border: 2px solid #3C2726;
    display: none;
    justify-content: center;
    font-size: 1.25rem;
    width: min(100% - 2rem, 1000px);
    margin-inline: auto;
}

#function-area ul li {
    display: inline;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#button-area {
    display: flex;
    justify-content: center;
}

#button-area .button{
    background-color: #B48B5D;
    border: none;
    color: #3C2726;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
  }

#button-area button:hover {
    cursor: pointer;
}

#button-area button:active {
    color: #B48B5D;
    background-color: #3C2726;
}